header {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #e5e5e5;
}
header p {
  font-size: large;
  flex: 1;
  color: #a7a6b7;
  margin-left: 15px;
}
.Header-Icons {
  color: #a7a6b7;
  font-size: 32px;
  cursor: pointer;
  margin-right: 20px;
}
.test {
  display: flex;
  flex-direction: row !important;
  background-color: red;
}
.primary-border {
  border-radius: 1px;
  background: #e1e4e8;
  border-bottom: 1px solid #e1e4e8;
}
p {
  margin: 0;
}
.Left-Container {
  width: 290px;
  border-right: 2px solid #e5e5e5;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
}
.filter-box {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  background-color: #f4f5f7;
  position: relative;
}
.fa-filter {
  color: #8247ff;
  position: absolute;
  top: 6px;
  left: 8px;
}
.Left-Input-Row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-left: 10px;
}
.Main-Input {
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  flex: 1;
  padding: 0;
  padding-left: 5px;
}
.search-Input {
  height: 30px;
  background-color: #f4f5f7;
  border-radius: 10px;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}
.Main-Left-Input:focus {
  border: none;
  outline: none;
}
body {
  font-family: "Mardoto";
  overflow: hidden;
  margin: 0;
  height: 98vh;
  padding: 10px 10px;
  background-color: #e5e5e5;
}
.Main-Container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.Main-Content {
  width: 100%;
  /* height: fit-content; */
  /* height: auto; */
  height: 95%;
  /* height: 100%; */
  display: flex;
  flex-direction: row;
}
::-webkit-scrollbar {
  display: none;
}
